:root {
	--bg-color: #f9f9f9;
	--text-color: #3d3d3d;
	--secondary-text-color: #464444;
	--link-hover: #543fd7;
	--border--line-width: 1px;
	--border-line-style: solid;
	--border-color: #dbdbdb;
	--border-radius: 7px;
	--button-border-radius: 3px;
}

body {
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Set left and right margins for various viewport widths */

/* 5% margins for screens up to 800px wide */
@media screen and (max-width: 800px) {
	body {
		margin: auto 5%;
	}
}

/* 10%  margins for screens 800px to 1024px wide */
@media screen and (min-width: 800px) and (max-width: 1024px) {
	body {
		margin: auto 10%;
	}
}

/* 20% margins for screens over 1024px wide */
@media screen and (min-width: 1024px) {
	body {
		margin: auto 20%;
	}
}

#container {
	height: 100%;
	flex: 1 0 auto;
}

header {
	text-align: center;
	padding-block-start: 1rem;
}

.site-title .title {
	font-weight: bold;
}

.site-title>p.tagline {
	font-style: italic;
	font-size: 85%;
}

.app-content {
	border: var(--border--line-width) var(--border-line-style) var(--border-color);
	background-color: white;
	font-size: 85%;
	border-radius: 1em;
	margin: 3rem;
}

#message-area {
	font-size: .75rem;
	text-align: center;
	padding: 1rem 3rem 0;
	font-style: italic;
	min-height: 1rem;
}

.form-div {
	text-align: center;
	padding: .5rem 0 2rem;
	border-bottom: var(--border--line-width) var(--border-line-style) var(--border-color);
}

.input-span {
	display: flex;
}

#input-txt {
	flex-grow: 1;
	outline: 0;
	margin: 0 1rem 0 2rem;
	padding: 0.65rem 1rem;
}

.edit-input {
	margin-inline-end: 1.25rem;
	padding: .25rem .5rem;
}

button {
	margin-left: .5rem;
}

button.add {
	margin-right: 1.7rem;
}

#input-txt,
.edit-input,
button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

#input-txt+button,
.todo-item {
	align-self: center;
}

.no-items-placeholder {
	text-align: center;
	font-style: italic;
	color: rgb(175, 175, 175);
}

button,
input {
	border: 1px solid var(--border-color);
	background-color: white
}

button,
input {
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(238, 238, 238);
}

ul {
	padding-inline-start: 0;
	margin: 2rem 1.5rem;
}

li {
	display: flex;
	list-style: none;
	margin-bottom: .5rem;
}

.no-items-placeholder {
	margin: 2.5rem 0;
}

.todo-item,
.edit-input {
	flex-grow: 1;
}

.todo-item {
	margin-left: .65rem;
}

footer {
	font-size: 65%;
	flex-shrink: 0;
}

.footer-copyright {
	text-align: center;
}
